@import '../../sass/variables';

.pagination{
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;

    & > * + * {
        margin-left:.95em;
    }

    li{
        font-size: $fs-secondary-text;
        padding: .5em;
        width:30px;
        height:30px;
        border-radius: 100%;
        transition: background-color 800ms;
        display: inline-flex;
        justify-content: center;
        align-items:center;
        cursor: pointer;
        color: $accent-cta-75;

        &.active{
            background-color: $secondary-dark;
        }

        &:hover:not(.active){
            background-color: #f8f8f8;
        }
    }

}