//colors
$black: #010102;
$grey-text: #BDBDBD;
$text-color: #202223;
$text-subdued: #6D7175;
$secondary-dark: #E4EAEF;
$success-darkest: #1AB759;
$success-lightest:  #C4F4D7;
$error-darkest:#E93C3C;
$error-lightest: #FFD6D6;
$accent-cta: #010102;
$accent-cta-75: #404040; // 75%
$gray2: #4F4F4F;
$surface-disabled: #FAFBFB;
$border-disabled: #D2D5D8;
$icon-disabled: #BABEC3;
$white: #fff;

//typography
$section-heading: 2rem;
$fs-heading1: 3.2rem;
$fs-heading2:2.4rem;
$fs-secondary-text: 1.4rem;
$fs-size-12: 1.2rem;
$fs-size-16: 1.6rem;
$fs-size-10: 1rem;

//breakpoints
$breakpoint-xs: 400px;
$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
