@import "../../sass/variables";

.btn{
    --color:white;
    font-size: $fs-secondary-text;
    font-weight: 600;
    color:var(--color);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding:.65em 2em;
    border-radius: .75em;
    background-color: $accent-cta;
    cursor: pointer;
    transition: filter 100ms linear;
    text-decoration: none;

    &.center {
        justify-content: center;
    }

    &.full_width {
        width: 100%;
    }

    &:hover{
        filter: brightness(150%);
    }

    svg{
       width:25px;
       height:auto;
       color: var(--color);
       margin-left:5px;
    }

}
